tensorboard
scikit-learn
seqeval
psutil
sacrebleu
rouge-score
tensorflow_datasets
pytorch-lightning
matplotlib
git-python
# faiss
streamlit
elasticsearch
pandas
nlp
spacy
transformers
torch
torchtext
